<div *ngIf="cities.length">
    <p-panel header="Current Weather By City">
        <p-dropdown styleClass="col-lg-6 col-md-12 col-sm-12 col-xs-12" [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true" filterBy="name"
            [virtualScroll]="true" [itemSize]="50" [showClear]="true" placeholder="Select a City"
            (ngModelChange)="displayWeather($event)">
            <ng-template pTemplate="selectedItem">
                <div class="city-item city-item-value" *ngIf="selectedCity">
                    <div>{{selectedCity.name}}</div>
                </div>
            </ng-template>
            <ng-template let-city pTemplate="item">
                <div class="city-item">
                    <div>{{city.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>

        <div class="row" *ngIf="selectedCityWeather">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4" >
                <app-weather [cityweather]="selectedCityWeather"></app-weather>
            </div>
        </div>
    </p-panel>

</div>