:host{
    ::ng-deep {
        div.p-component.verycool{
            background: rgba(141, 179, 212, 0.5) !important;            
        }
        div.p-component.cool{
            background: rgba(30, 156, 214, 0.5) !important;
        }
        div.p-component.hot{
            background: rgba(214, 180, 30, 0.8) !important;
        }
        div.p-component.veryhot{
            background: rgba(214, 140, 30, 0.8) !important;
        }
        div.p-component.extremehot{
            background: rgba(233, 106, 56, 0.8) !important;
        }
        div.p-component{
            color:black;
        }
    }
}