<div class="container-fluid mt-4">
    <p-panel header="Current Weather by Location">
        <div class="row">
            <app-legend ></app-legend>
        </div>
        <div class="row">
            <input class="row mb-2" id="searchField" size="50" type="text" placeholder="Enter or choose a location on the map to see weather" pInputText [(ngModel)]="searchField" autocomplete="on"/>
            <div class="col-md-8">
                <google-map
                #map
                height="400px"
                width="100%"
                [zoom]="zoom"
                [center]="center"
                [options]="options"
                (mapClick)="click($event)"
              >
                <map-marker
                  #markerElem
                  *ngFor="let marker of markers"
                  [position]="marker.position"
                  [label]="marker.label"
                  [title]="marker.title"
                  [options]="marker.options"
                >
                </map-marker>
              </google-map>
            </div>
            <div class="col-md-4 px-2 pos-rel" >
                <ng-container *ngIf="(markers.length && markers[0].info);else loading">
                    <app-weather [cityweather]="markers[0].info"></app-weather>
                </ng-container>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">   
                <button id="zoomin" class="btn btn-primary m-2" (click)="zoomIn()">Zoom in</button>
                <button id="zoomout" class="btn btn-primary m-2" (click)="zoomOut()">Zoom out</button>
            </div>
        </div>
        
    </p-panel>
</div>

<ng-template #loading>
    <div class="spinnerclass">
        <div>Loading Weather Info .... </div>
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>